<!DOCTYPE html>
<html>

<head>
  <title>Welcome to Glitch!</title>
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <header>
    <h1>
      Image Search Abstraction Layer
    </h1>
  </header>

  <main>
    <b>User Story:</b>
    <ol>
      <li>I can get the image URLs, alt text and page urls for a set of images relating to a given search string.</li>
      <li>I can paginate through the responses by adding a ?offset=2 parameter to the URL.</li>
      <li>I can get a list of the most recently submitted search strings.</li>
    </ol>

    <b>Examples:</b>
    <ul>
      <li><a href="/api/?q=cat&offset=1" target="_blank">https://standing-paper.glitch.me/api/?q=cat&offset=1</a></li>
      <li><a href="/latest" target="_blank">https://standing-paper.glitch.me/latest</a></li>
    </ul>
  </main>

</body>

</html>